*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(34.24deg, #B84646 48.1%, #2C2C65 89.63%);
    background-attachment: fixed;
   background-size: 100%;
}
.bg-body-tertiary{
    background-color: transparent !important;
}
.navlink{
    text-decoration: none;
    color: white;
}
