* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(34.24deg, #B84646 48.1%, #2C2C65 89.63%);
    background-attachment: fixed;
    background-size: 100%;
}

.bg-body-tertiary {
    background-color: transparent !important;
}

.nav-bar {
    height: 100px;
    padding: 26px 0px;
}

.navlink {
    font-size: 16px;
    font-weight: 400;
    line-height: 15.83px;
    text-decoration: none;
    color: #F9F9F9;
    gap: 10px;
    text-align: right;
}

.navlink:hover {
    color: #0202EA;
}

.section-one {
    display: flex;
    margin: 20px 0px;
    padding: 40px 0px;
    overflow: hidden;
}


.section-one h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 47.48px;
    color: #F9F9F9;
}

#sectionhead {
    margin-top: 100px;
}

.section-one a {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.46px;
    color: #f9f9f9;
    width: 207px;
    height: 46px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 70px;
    border-radius: 20px;
    border: 2px solid #0202EA;
    padding: 14px, 44px, 14px, 44px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;

}


.section-two h1 {
    color: #363636;
    font-family: Roboto Slab;
    font-weight: bold;
    width: 334px;
    height: 151px;
    line-height: 47.48px;
}

.section-two h5 {
    width: 555px;
    height: 52px;
    font-size: 20px;
    line-height: 26.38px;
    color: #363636;
    font-family: Roboto slab;

}

#second-row {
    padding-top: 50px;
}

.btn {
    background-color: #4369B2;
    padding: 16px 46px;
    border-radius: 14px;
    font-size: 16px;
    color: #F9F9F9;
    margin-top: 120px;
}