
* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto slab", serif;
}

body {
    background-color: #C5C3C3;
    height: 100vh;
    overflow: hidden;
}
.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#imagediv {
    position: absolute;
    transition: position, 2s ease-in-out;
}

/* .imagediv-relative {
    position: relative;
    transition: position, 2s ease-in-out;
} */
.first-image {
    width: 100%;
    height: auto;
    max-width: 500px;
    cursor: pointer;
    transition: all 0.5s ease;
}
h4 {
    text-align: center;
    color: #A9A3A3;
    font-size: 20px;
    font-weight: 700;
    line-height: 26.38px;
}

p {
    width: 440px;
    height: 35px;
    padding: 5px 123px 2px 123px;
    border-radius: 10px;
    background-color: #6188D3;
    margin: 0 auto;
    color: #2C2CAB;
    display: none;
}

button {
    width: 100%;
    height: 50px;
    padding: 10.8px 0px 14.86px 0px;
    border-radius: 10px;
    background-color: #4369B2;
    border: none;
}
.text-danger {
    color: #dc3545;
    font-size: 0.875rem;
    display: block;
    margin-top: 0.25rem;
}

.form-group {
 /* display: none; */
    margin-bottom: 1rem;
}
#form {
   display: none;
    background-color: #f8f9fa;
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    opacity: 0; /* Start with hidden form */
    transition: opacity, 2s ease-in-out; /* Smooth transition for opacity */
}

.form-visible {
    display: block; 
    opacity: 1; 
    position: relative;
    transition: position, 0.5s ease-in-out; /* Smooth transition for opacity */
    /* transition: display, 2s ease-in-out; Smooth transition for opacity */
}  
@media (max-width: 576px) {
    .first-image {
        max-width: 80%;
    }

    .form-control {
        width: 100%;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .first-image {
        max-width: 70%;
    }
}

@media (max-width: 992px) {
    .first-image {
        max-width: 60%;
    }
}
