<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image.png" href="./../resourcesFiles/g848.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./../cssFiles/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <div class="nav-container">
            <div class="nav-left">
                <div class="toggle-btn">
                    <i class="bi bi-list" id="#btn"></i>
                </div>
                <div class="logo">
                    <img src="./../resourcesFiles/healthifyLogo.png" alt="Logo" class="img-fluid">
                </div>

                <div class="menu-bar d-none d-sm-none d-md-none d-lg-none d-xl-block ms-xl-3">
                    <button class="dropdown-toggle d-flex align-items-center justify-content-center" id="toggle"
                        type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-star-fill"></i>
                        Menu
                    </button>
                    <ul class="dropdown-menu" id="menu">
                        <li class="dropdown-item">Call</li>
                        <li class="dropdown-item">Contact Tech Team</li>
                    </ul>
                </div>
                <div class="search-bar d-none d-sm-none d-md-none d-lg-none d-xl-block">
                    <input type="search" id="search-input" placeholder="Search for a doc..." class="form-control">
                </div>
            </div>


            <div class="nav-right">
                <div class="notification-btn">
                    <span>
                        <i class="bi bi-bell-fill"><span class="badge mx-1" id="count">0</span></i>
                    </span>
                </div>
                <div class="dropdown user-profile d-none d-sm-none d-md-none d-lg-none d-xl-block">
                    <button class="dropdown-toggle d-flex align-items-center justify-content-center" type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-fill"></i>
                        User Profile
                    </button>
                    <ul class="dropdown-menu" id="menu">
                        <li class="dropdown-item">Newsong</li>
                        <li class="dropdown-item">Newsong</li>
                        <li class="dropdown-item">Newsong</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid main-content">
        <section class="section-one">
            <div class="sidebar closed">
                <div class="logo-content d-flex d-sm-flex d-md-flex d-lg-flex d-xl-none">
                    <div class="logo">
                        <img src="./../resourcesFiles/healthifyLogo.png" alt="Logo">
                    </div>

                    <i class="bi bi-x-lg" id="close-btn"></i>
                </div>


                <ul class="nav-list col-12 px-2">
                    <li class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-none">
                        <i class="bi bi-search search"></i>
                        <input type="search" placeholder="Search...">
                    </li>
                    <li class="mt-3">
                        <a href="/dashboard" id="dashboard-link">
                            <i class="bi bi-columns-gap ps-2"></i>
                            <span class="links-name">Dashboard</span>
                        </a>

                    </li>
                    <li>
                        <a href="#" id="explore-link">
                            <i class="bi bi-search ps-2"></i>
                            <span class="links-name">Explore</span>
                        </a>

                    </li>
                    <li>
                        <a href="/Healtify/dashboard/profile" id="profile-link">
                            <i class="bi bi-newspaper ps-2"></i>
                            <span class="links-name">Profile</span>
                        </a>

                    </li>
                    <li>
                        <a href="/Healtify/dashboard/ward" id="ward-link">
                            <i class="bi bi-person ps-2"></i>
                            <span class="links-name">Ward</span>
                        </a>

                    </li>
                    <li>
                        <a href="/Healtify/dashboard/session" id="sessions-link">
                            <i class="bi bi-clock-history ps-2"></i>
                            <span class="links-name">Sessions</span>
                        </a>

                    </li>
                    <li>
                        <a href="/Healtify/dashboard/nearesthospital" id="hospitals-link">
                            <i class="bi bi-hospital ps-2"></i>
                            <span class="links-name">Nearest hospitals</span>
                        </a>

                    </li>
                    <li>
                        <a href="/Healtify/dashboard/wellness" id="wellness-link">
                            <i class="bi bi-heart-pulse ps-2"></i>
                            <span class="links-name">Wellness& Lifestyle</span>
                        </a>

                    </li>

                    <li class="dropdown finance">
                        <a href="/Healtify/dashboard/finance" id="finance-link" class="dropdown-toggle">
                            <i class="bi bi-credit-card ps-2"></i>
                            <span class="links-name">Finance</span>
                            <i class="bi bi-chevron-down float-end"></i>
                        </a>
                        <ul id="finance-dropdown" class="dropdown-content">
                            <li><a href="" class="ps-2" id="invoice-link">Invoice</a></li>
                            <li><a href="" class="ps-2" id="card-link">Card</a></li>
                        </ul>
                    </li>



                    <li>
                        <a href="/Healtify/dashboard/subscription" id="manageSubscription-link" class="toggle-sublinks">
                            <i class="bi bi-calendar ps-2"></i>
                            <span class="links-name">Manage subscription</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" id="help-link">
                            <i class="bi bi-question-circle ps-2"></i>
                            <span class="links-name">Help/platform feedback</span>
                        </a>
                    </li>


                    <li class="dropdown settings">
                        <a href="/Healtify/dashboard/settings" id="settings-link" class="dropdown-toggle">
                            <i class="bi bi-gear ps-2"></i>
                            <span class="links-name">Settings</span>
                            <i class="bi bi-chevron-down float-end"></i>
                        </a>
                        <ul class="dropdown-content">
                            <li><a href="" class="ps-2" id="changePassWord-link">Change Password</a></li>
                            <li><a href="" class="ps-2" id="logout-link">Log out</a></li>
                        </ul>
                    </li>
                </ul>

            </div>



            <div class="container-fluid">
                <div class="row row-one">
                    <div class="col-12 mt-3">
                        <h3 class="d-flex align-items-center ps-3">Home/Dashboard</h3>
                    </div>
                </div>
                <div class="row row-two mt-4 mx-md-auto mx-lg-auto mx-xl-0">
                    <div class="col-12">
                        <i class="bi bi-globe-europe-africa"></i>
                        <h2>Basic Subscriber<br> Subscribe now!</h2>
                    </div>
                </div>


                <div class="row-three mt-4">
                    <span class="ps-2 pb-1">
                        <i class="bi bi-exclamation-circle-fill me-1"></i>
                        <h4>Top Doctors</h4>
                    </span>
                    <span class="ico pb-1">
                        <i class="bi bi-gear-fill"></i>
                        <i class="bi bi-caret-up-fill TOGGLE"></i>
                        <i class="bi bi-x"></i>

                    </span>
                </div>
                <div class="row-four d-flex flex-row" id="collapse-row">
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-ibukun.png">
                        <span class="pb-4">
                            <h4 class="one">Miss Oyenuga Ibukun</h4>
                            <h4 class="two py-3">Gynecologist</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drIbukun
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-farouq.png">
                        <span class="pb-4">
                            <h4 class="one">Mr Farouq Oyenuga</h4>
                            <h4 class="two py-2">General practicioner</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drFarouq
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-zainab.png">
                        <span class="pb-4">
                            <h4 class="one">Miss Sodiq Zainab</h4>
                            <h4 class="two py-3">Gynecologist</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drZainab
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-newsong.png">
                        <span class="pb-4">
                            <h4 class="one">Mr Newsong</h4>
                            <h4 class="two py-3">General practicioner</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drNewsong
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-kareemah.png">
                        <span class="pb-4">
                            <h4 class="one">Miss Olosasa kareemah</h4>
                            <h4 class="two py-3">Gynecologist</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drKeemah
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-imam.png">
                        <span class="pb-4">
                            <h4 class="one">Mr Imam</h4>
                            <h4 class="two py-3">General practicioner</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drImam
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                    <div class="col  bg-white">
                        <img class="img-fluid main-img" src="./../resourcesFiles/H-daniella.png">
                        <span class="py-4">
                            <h4 class="one">Miss Daniella</h4>
                            <h4 class="two py-3">Gynecologist</h4>
                            <h4 class="three pt-3"><img src="./../resourcesFiles/g848.png" class="img-fluid mini-img">
                                drDanny
                            </h4>
                            <button class="btn mt-3" role="link">Connect</button>
                        </span>
                    </div>
                </div>
            </div>



            <div class="section-two mt-5">
                <div class="container-fluid sub-sec">
                    <div
                        class="row row_one d-flex justify-content-end justify-content-lg-start justify-content-xl-end mb-2 mb-sm-2 mb-md-3 mb-lg-5 mb-xl-5 mx-auto mx-sm-auto mx-md-0 mx-lg-0 mx-xl-0">
                        <div
                            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4 mb-sm-4 mb-md-4 mb-lg-0 mb-xl-0  d-flex flex-column align-items-start justify-content-center">

                            <img class="img-fluid" src="./../resourcesFiles/Frame 153.png">
                            <h3>HEALTH</h3>
                            <a href="">5 Things to do every<br> morning for lower blood<br> pressure</a>
                            <figcaption class="mt-2 mt-sm-2 mt-md-2 mt-lg-4 mt-xl-4"><i>By Farooq</i></figcaption>
                        </div>
                        <div
                            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4 mb-sm-4 mb-md-4 mb-lg-0 mb-xl-0  d-flex flex-column align-items-start justify-content-center">

                            <img class="img-fluid" src="./../resourcesFiles/Frame 160.png">
                            <h3>FITNESS</h3>
                            <a href="">4 benefits of jumping<br> rope that will convince<br> you to give it a
                                try</a>
                            <figcaption class="mt-2 mt-sm-2 mt-md-2 mt-lg-4 mt-xl-4"><i>By Farooq</i></figcaption>
                        </div>
                        <div
                            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4 mb-sm-4 mb-md-4 mb-lg-0 mb-xl-0  d-flex flex-column align-items-start justify-content-center">

                            <img class="img-fluid" src="./../resourcesFiles/Frame 164.png">
                            <h3>FITNESS</h3>
                            <a href="">This one mobility<br> exercise loosen tight<br> shoulders</a>
                            <figcaption class="mt-2 mt-sm-2 mt-md-2 mt-lg-4 mt-xl-4"><i>By Farooq</i></figcaption>
                        </div>
                    </div>
                    <div
                        class="row row_two d-flex justify-content-end mb-2 mb-sm-2 mb-md-3 mb-lg-5 mb-xl-5 mx-auto mx-sm-auto mx-md-0 mx-lg-0 mx-xl-0">
                        <div
                            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4 mb-sm-4 mb-md-4 mb-lg-0 mb-xl-0 d-flex flex-column align-items-start justify-content-center">

                            <img class="img-fluid" src="./../resourcesFiles/Frame 168.png">
                            <h3>FITNESS</h3>
                            <a href="">7 Tips of exercising<br> during pregnancy,<br> according to experts</a>
                            <figcaption class="mt-2 mt-sm-2 mt-md-2 mt-lg-4 mt-xl-4"><i>By Farooq</i></figcaption>
                        </div>
                        <div
                            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4 mb-sm-4 mb-md-4 mb-lg-0 mb-xl-0 d-flex flex-column align-items-start justify-content-center">

                            <img class="img-fluid" src="./../resourcesFiles/Frame 172.png">
                            <h3>HEALTH</h3>
                            <a href="">5 Things to do every<br> morning for lower blood<br> pressure</a>
                            <figcaption class="mt-2 mt-sm-2 mt-md-2 mt-lg-4 mt-xl-4"><i>By Farooq</i></figcaption>
                        </div>
                        <div
                            class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-4 mb-4 mb-sm-4 mb-md-4 mb-lg-0 mb-xl-0 d-flex flex-column align-items-start justify-content-center">

                            <img class="img-fluid" src="./../resourcesFiles/Frame 176.png">
                            <h3>HEALTH</h3>
                            <a href="">5 Things to do every<br> morning for lower blood<br> pressure</a>
                            <figcaption class="mt-2 mt-sm-2 mt-md-2 mt-lg-4 mt-xl-4"><i>By Farooq</i></figcaption>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="./../javaScriptFiles/dashboard.js"></script>
</body>